<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  lang="ko">
<head>
    <title><?=_SITE_NAME?></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no, target-densitydpi=medium-dpi">
    <link rel="stylesheet" type="text/css" href="/html/css/common.css" />
    <link rel="stylesheet" href="/html/css/web-board-style.css" media="only screen and (min-width:769px)" /> <!-- web css -->
    <link rel="stylesheet" href="/html/css/mobile-board-style.css" media="only screen and (max-width:768px)" /> <!-- mobile css -->
    <link rel="stylesheet" href="/html/css/web-member-style.css" media="only screen and (min-width:769px)" /> <!-- web css -->
    <link rel="stylesheet" href="/html/css/mobile-member-style.css" media="only screen and (max-width:768px)" /> <!-- mobile css -->
    <link rel="stylesheet" href="/html/css/font-awesome.min.css"  />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/html/js/html5shiv.js"></script>
    <script type="text/javascript" src="/html/js/IE9.js"></script>
    <![endif]-->
</head>