<html xml:lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><?=_SITE_NAME?></title>

<link rel="stylesheet" type="text/css" href="/html/css/common.css" />
<link rel="stylesheet" type="text/css" href="/html/css/board.css" />
<link rel="stylesheet" type="text/css" href="/html/css/member.css" />
<link rel="stylesheet" type="text/css" href="/html/css/style.css" />
</head>